# Challenge 1
This challenge tests your ability to parse and summarize a tabular dataset using basic pandas operations.

## Question 1
Load the dataset and display the first 5 rows.

In [ ]:
import pandas as pd

tariff_data = pd.read_csv(
    "./data/Tariff Calculations plus Population.csv", delimiter=";"
)

tariff_data.head(5)

,Country,US 2024 Deficit,US 2024 Exports,US 2024 Imports (Customs Basis),Trump Tariffs Alleged,Trump Response,Population
0,Afghanistan,-11.1,11.4,22.6,49%,25%,41454761.0
1,Albania,13.4,141.7,128.3,10%,10%,2745972.0
2,Algeria,"-1,447.10","1,014.50","2,461.60",59%,29%,46164219.0
3,Andorra,1.5,4.9,3.4,10%,10%,80856.0
4,Angola,"-1,186.90",682.4,"1,869.20",63%,32%,36749906.0

## Question 2
Clean column names to follow snake_case using str.lower() and str.replace().

In [44]:
tariff_data.columns = tariff_data.columns.str.strip().str.lower().str.replace(" ", "_")
tariff_data.head(5)

,country,us_2024_deficit,us_2024_exports,us_2024_imports_(customs_basis),trump_tariffs_alleged,trump_response,population
0,Afghanistan,-11.1,11.4,22.6,49%,25%,41454761.0
1,Albania,13.4,141.7,128.3,10%,10%,2745972.0
2,Algeria,"-1,447.10","1,014.50","2,461.60",59%,29%,46164219.0
3,Andorra,1.5,4.9,3.4,10%,10%,80856.0
4,Angola,"-1,186.90",682.4,"1,869.20",63%,32%,36749906.0

## Question 3
Convert to numeric, turn the Percentages in 'trup_tariffs_alleged' and 'trump_response' to decimals. Also remove commas from us_2024_exports,  us_2024_deficit and us_2024_imports_(customs_basis).

In [45]:
contain_percent = tariff_data["trump_response"].apply(lambda x: "%" in str(x)).all()
contain_percent  # checking all values contain a %, not necessary here but can be good practice to see if I should use np.where to apply conditionally

np.True_

In [46]:
cols_to_convert = ["trump_tariffs_alleged", "trump_response"]

for col in cols_to_convert:
    tariff_data[col] = (
        tariff_data[col].astype(str).str.replace("%", "").astype(float) / 100
    )

In [47]:
cols_to_convert = [
    "us_2024_deficit",
    "us_2024_exports",
    "us_2024_imports_(customs_basis)",
]
for col in cols_to_convert:
    tariff_data[col] = tariff_data[col].astype(str).str.replace(",", "", regex=False)

## Question 4
Identify the 5 countries with the highest us_2024_exports.

In [48]:
tariff_data.sort_values(by="us_2024_exports", ascending=False).head()

,country,us_2024_deficit,us_2024_exports,us_2024_imports_(customs_basis),trump_tariffs_alleged,trump_response,population
83,Iceland,-86.8,985.8,1072.60,0.10,0.10,393349.0
76,Guatemala*,4694.90,9714.80,5019.90,0.10,0.10,18124838.0
47,Costa Rica**,-1958.10,9676.80,11634.90,0.17,0.10,5105525.0
71,Ghana,-204.4,967.3,1171.70,0.17,0.10,33787914.0
57,Equatorial Guinea,-32.3,95.4,127.6,0.25,0.13,1847549.0

## Question 5
Calculate the total US trade balance across all countries by summing us_2024_exports - us_2024_imports_(customs_basis)

In [49]:
tariff_data["us_trade_balance"] = tariff_data["us_2024_exports"].astype(
    float
) - tariff_data["us_2024_imports_(customs_basis)"].astype(float)
tariff_data["us_trade_balance"]

0         -11.2
1          13.4
2       -1447.1
3           1.5
4       -1186.8
         ...
199   -123463.0
200        -2.3
201       125.2
202       -55.3
203       -24.0
Name: us_trade_balance, Length: 204, dtype: float64